<section class="patient-list">
  <h2>Patients</h2>

  @if (patients.length === 0) {
    <p>No patients available.</p>
  } @else {
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th scope="col">Document</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
          </tr>
        </thead>

        <tbody>
          @for (patient of patients; track patient.id) {
            <tr>
              <td>{{ patient.documentNumber }}</td>

              <td>
                {{ patient.firstName }}
                {{ patient.lastName }}
              </td>

              <td>{{ patient.phone }}</td>

              <td>{{ patient.email }}</td>

              <td>{{ patient.status }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</section>